//Fonts
$font-primary: 'Open Sans', sans-serif;
$font-secondary: 'Nunito', sans-serif;

//background-colors
$primary-bg-color: #fff;
$secondary-bg-color: #f3f4f8;
$tertiary-bg-color: #3d4351;
$quaternary-bg-color: #373d4a;
$quinary-bg-color: #495061;
$senary-bg-color: #000;
$septenary-bg-color: #232731;

//Font-colors
$palette-primary: #fff;
$palette-secondary: rgba(28, 54, 83, 0.6);
$palette-tertiary: #3d4351;
$palette-quaternary: #ff5274;
$pallete-quinary: #acb1b4;

//Buttons-colors
$btn-primary-color: #fff;
$btn-secondary-color: #ff5274;
$btn-tertiary-color: #d7405d;

//h1-h6
$titles-size: (
h1: 6em,
h2: 4em,
h3: 2.4em,
h4: 2em,
h5: 1.5em,
h6: 1.1em
)